[Unit]
Description=Price Updater Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/priceUpdaterCPG
Environment=NODE_ENV=production
ExecStart=/usr/bin/node priceUpdater.js
Restart=always
RestartSec=10
StandardOutput=append:/home/pi/priceUpdaterCPG/service.log
StandardError=append:/home/pi/priceUpdaterCPG/service.log

[Install]
WantedBy=multi-user.target 